.react-calendar {
    width: 100%;
    border: none;
    padding: 0.5em;
}

.react-calendar__tile {
    font-size: 1em;
    height: 3em;
    border-radius: 4px;
}

.react-calendar__tile.react-calendar__tile--active {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
